<aside id="left-panel">
    <div id="mySidenav" #mySidenav class="sidenav">
        <div class="login-info">
            <span>
                <!-- User image size is adjusted inside CSS, it should stay as it -->
                <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut" style="padding: 0px;">
                    <img src="../../../assets/imgs/sunny.png" alt="me" class="online">
                    <span>
                        john.doe
                    </span>
                </a>
            </span>
        </div>
        <ul>
            <li class="active open" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a href="#" title="Sales" [routerLink]="['/sales']">
                    <i class="mr-2 fa fa-lg fa-fw fa-home"></i>
                    <span class="menu-item-parent">Sales</span>
                </a>
            </li>
            <li class="active open" *ngIf="authService.getUserInfo() === 'admin'" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a href="#" title="Users" [routerLink]="['/users']">
                    <i class="mr-2 fa fa-lg fa-fw fa-user-circle"></i>
                    <span class="menu-item-parent">Users</span>
                </a>
            </li>
            <li class="active open" *ngIf="authService.getUserInfo() === 'admin'" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a href="#" title="Roles" [routerLink]="['/roles']">
                        <i class="mr-2 fa fa-lg fa-fw fa-users"></i>
                        <span class="menu-item-parent">Roles</span>
                    </a>
                </li>
        </ul>

        <span class="minifyme" data-action="minifyMenu" (click)="closeNav()" style="">
            <i class="fa fa-arrow-circle-left hit"></i>
        </span>
    </div>
</aside>

<div id="main" #main>
    <div id="ribbon">
        <span *ngIf="showMenu" style="font-size:30px;cursor:pointer; color:aliceblue;" (click)="openNav()">&#9776;</span>
        <span class="ribbon-button-alignment">
            <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom"
                data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings."
                data-html="true">
                <i class="fa fa-refresh"></i>
            </span>
        </span>

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>Home</li>
            <li>{{title}}</li>
        </ol>
        <div id="logout" class="btn-header transparent pull-right">
            <span>
                <a (click)="logout()" title="Sign Out" data-action="userLogout" data-logout-msg="You can improve your security further after logging out by closing this opened browser">
                    <i class="fa fa-sign-out"></i>
                </a>
            </span>
        </div>
        <!-- end breadcrumb -->
    </div>
    <app-navbar></app-navbar>
    <h4 style="display: inline; color:#33679a !important;" class="ml-4 mt-1 text-primary">Users</h4>
    <div class="container">
        <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Email</th>
                    <th>Contact</th>
                </tr>
            </thead>
        
        </table>
    </div>
    <app-footer></app-footer>
</div>