table.dataTable thead .sorting:after{
    opacity: 0.2;
    content: none;
}
table.dataTable thead .sorting_asc:after{
    content: none;
}
table.dataTable thead .sorting_desc:after {
    content: none;
}

table.dataTable tbody td.bid_data_class{
    color:blue;
}