/* You can add global styles to this file, and also import other style files */

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    min-height:-webkit-fill-available;
    margin-bottom: 20px;
}

.dataTables_paginate a{
    cursor : pointer;
}
.dataTables_paginate > span > a{
    padding-right : 7px;
    padding-left : 7px;
    border: solid white;
}
.dataTables_paginate > span > a.current{
    color : white !important;
    background-color: #33679a!important; 
}

.dataTables_paginate > a.disabled{
    text-decoration: none;
    color : black !important;
    background-color: none;
    cursor : auto; 
}
.dataTables_length{
    display: inline;
}
.dataTables_filter{
    display: inline;
    float: right;
}

.dataTables_info{
    display: inline;
}
.dataTables_paginate{
    margin-top:2px;
    display: inline;
    float: right;
}



