<app-navbar></app-navbar>


<div class="container">
    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>David Smith</td>
                <td>Engineer</td>
                <td>Tech Mahindra</td>
                <td>25</td>
                <td>50,000</td>
            </tr>
            <tr>
                <td>David Smith</td>
                <td>Engineer</td>
                <td>Tech Mahindra</td>
                <td>25</td>
                <td>50,000</td>
            </tr>
            <tr>
                <td>David Smith</td>
                <td>Engineer</td>
                <td>Tech Mahindra</td>
                <td>25</td>
                <td>50,000</td>
            </tr>
            <tr>
                <td>David Smith</td>
                <td>Engineer</td>
                <td>Tech Mahindra</td>
                <td>25</td>
                <td>50,000</td>
            </tr>
            <tr>
                <td>David Smith</td>
                <td>Engineer</td>
                <td>Tech Mahindra</td>
                <td>25</td>
                <td>50,000</td>
            </tr>
            <tr>
                <td>David Smith</td>
                <td>Engineer</td>
                <td>Tech Mahindra</td>
                <td>25</td>
                <td>50,000</td>
            </tr>
            <tr>
                <td>David Smith</td>
                <td>Engineer</td>
                <td>Tech Mahindra</td>
                <td>25</td>
                <td>50,000</td>
            </tr>
            <tr>
                <td>David Smith</td>
                <td>Engineer</td>
                <td>Tech Mahindra</td>
                <td>25</td>
                <td>50,000</td>
            </tr>
            <tr>
                <td>David Smith</td>
                <td>Engineer</td>
                <td>Tech Mahindra</td>
                <td>25</td>
                <td>50,000</td>
            </tr>
            <tr>
                <td>David Smith</td>
                <td>Engineer</td>
                <td>Tech Mahindra</td>
                <td>25</td>
                <td>50,000</td>
            </tr>
            <tr>
                <td>David Smith</td>
                <td>Engineer</td>
                <td>Tech Mahindra</td>
                <td>25</td>
                <td>50,000</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- <div class="container">
        <ag-grid-angular 
        style="height: 500px;" 
        class="ag-theme-balham"
        [rowData]="rowData" 
        [enableSorting]="true"
        [enableFilter]="true"
        [columnDefs]="columnDefs"
        [pagination]="true"
        [paginationPageSize]="20"
        >
    </ag-grid-angular>
</div> -->

<!-- <div class="row">
    <div class="col-md-4">
        <input *ngIf="config.filtering" placeholder="Filter all columns" [ngTableFiltering]="config.filtering" class="form-control"
            (tableChanged)="onChangeTable(config)" />
    </div>
</div>
<br>
<ng-table [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="onCellClick($event)" [rows]="rows" [columns]="columns">
</ng-table>
<pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
    [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
</pagination>
<pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre> -->

<!-- <h3 class="first">Basic</h3>
<p-table [value]="cars">
    <ng-template pTemplate="header">
        <tr>
            <th>Vin</th>
            <th>Year</th>
            <th>Brand</th>
            <th>Color</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car>
        <tr>
            <td>{{car.vin}}</td>
            <td>{{car.year}}</td>
            <td>{{car.brand}}</td>
            <td>{{car.color}}</td>
        </tr>
    </ng-template>
</p-table> -->