<aside id="left-panel">
    <div id="mySidenav" #mySidenav class="sidenav">
        <div class="login-info">
            <span>
                <!-- User image size is adjusted inside CSS, it should stay as it -->
                <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut" style="padding: 0px;">
                    <img src="../../../assets/imgs/sunny.png" alt="me" class="online">
                    <span>
                        john.doe
                    </span>
                </a>
            </span>
        </div>
        <ul>
            <li class="active open" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a href="#" title="Dashboard" [routerLink]="['/sales']">
                    <i class="fa fa-lg fa-fw fa-home"></i>
                    <span class="menu-item-parent">Sales</span>
                </a>
            </li>
            <li class="active open" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a href="#" title="Dashboard" [routerLink]="['/estimation']">
                    <i class="fa fa-lg fa-fw fa-list-alt"></i>
                    <span class="menu-item-parent">Estimation</span>
                </a>
            </li>
            <li class="active open" *ngIf="authService.getUserInfo() === 'admin'" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a href="#" title="Dashboard" [routerLink]="['/users']">
                    <i class="fa fa-lg fa-fw fa-user-circle"></i>
                    <span class="menu-item-parent">Users</span>
                </a>
            </li>
        </ul>

        <span class="minifyme" data-action="minifyMenu" (click)="closeNav()" style="">
            <i class="fa fa-arrow-circle-left hit"></i>
        </span>
    </div>
</aside>
<div id="main" #main>
    <div id="ribbon">
        <span *ngIf="showMenu" style="font-size:30px;cursor:pointer; color:aliceblue;" (click)="openNav()">&#9776;</span>
        <span class="ribbon-button-alignment">
            <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom"
                data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings."
                data-html="true">
                <i class="fa fa-refresh"></i>
            </span>
        </span>

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>Home</li>
            <li>{{title}}</li>
        </ol>
        <!-- end breadcrumb -->
        <div id="logout" class="btn-header transparent pull-right">
            <span>
                <a (click)="logout()" title="Sign Out" data-action="userLogout" data-logout-msg="You can improve your security further after logging out by closing this opened browser">
                    <i class="fa fa-sign-out"></i>
                </a>
            </span>
        </div>
    </div>
    <app-navbar></app-navbar>
    <p class="display">
        estimation works!
    </p>
    <app-footer></app-footer>
</div>