<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand navbar-brand-custom">
      <p>APEX</p>
    </a>
    <button class="navbar-toggler" (click)="collapse=!collapse" type="button" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div style="display: inline !important;" class="navbar-collapse" (click)="collapse=false" [hidden]="!collapse">
      <ul class="navbar-nav mr-auto pull-right">
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" [routerLink] = "['/home']">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" [routerLink] = "['/sales']">Sales </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" [routerLink] = "['/sales-report']">Sales Report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>