<aside id="left-panel">
    <div id="mySidenav" #mySidenav class="sidenav">
        <div class="login-info">
            <span>
                <!-- User image size is adjusted inside CSS, it should stay as it -->
                <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut" style="padding: 0px;">
                    <img src="../../../assets/imgs/sunny.png" alt="me" class="online">
                    <span>
                        john.doe
                    </span>
                </a>
            </span>
        </div>
        <ul>
            <li class="active open" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a href="#" title="Sales" [routerLink]="['/sales']">
                    <i class="mr-2 fa fa-lg fa-fw fa-home"></i>
                    <span class="menu-item-parent">Sales</span>
                </a>
            </li>
            <li class="active open" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a href="#" title="Estimation" [routerLink]="['/estimation']">
                    <i class="mr-2 fa fa-lg fa-fw fa-list-alt"></i>
                    <span class="menu-item-parent">Estimation</span>
                </a>
            </li>
            <li class="active open" *ngIf="authService.getUserInfo() === 'admin'" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a href="#" title="Users" [routerLink]="['/users']">
                    <i class="mr-2 fa fa-lg fa-fw fa-user-circle"></i>
                    <span class="menu-item-parent">Users</span>
                </a>
            </li>
            <li class="active open" *ngIf="authService.getUserInfo() === 'admin'" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a href="#" title="Roles" [routerLink]="['/roles']">
                    <i class="mr-2 fa fa-lg fa-fw fa-users"></i>
                    <span class="menu-item-parent">Roles</span>
                </a>
            </li>
        </ul>

        <span class="minifyme" data-action="minifyMenu" (click)="closeNav()" style="">
            <i class="fa fa-arrow-circle-left hit"></i>
        </span>
    </div>
</aside>

<div id="main" #main>
    <div id="ribbon">
        <span *ngIf="showMenu" style="font-size:30px;cursor:pointer; color:aliceblue;" (click)="openNav()">&#9776;</span>
        <span class="ribbon-button-alignment">
            <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom"
                data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings."
                data-html="true">
                <i class="fa fa-refresh"></i>
            </span>
        </span>

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>Home</li>
            <li>{{title}}</li>
        </ol>
        <div id="logout" class="btn-header transparent pull-right">
            <span>
                <a (click)="logout()" title="Sign Out" data-action="userLogout" data-logout-msg="You can improve your security further after logging out by closing this opened browser">
                    <i class="fa fa-sign-out"></i>
                </a>
            </span>
        </div>
        <!-- end breadcrumb -->
    </div>
    <app-navbar></app-navbar>

    <div class="m-5" *ngIf="!submitted && !submitSuccess">
        <div class="col-lg-12 well">
            <div class="row">
                <form [formGroup]="newLeadForm" style="width: 100%;" autocomplete="on">
                    <div class="col-sm-12">
                        <div class="row" formGroupName="fabricatorInfoForm">
                            <div class="col-sm-6 col-lg-6 col-md-6 form-group">
                                <p>Select a fabricator</p>
                            </div>
                            <div class="col-sm-6 col-lg-6 col-md-6 form-group">
                                <select name="fabricator" class="form-control" (change)="onChange($event)" formControlName="fabricator_name">
                                    <option value="" selected>Choose an option</option>
                                    <option *ngFor="let fabricator of fabricators" value="{{fabricator.fabricator_name}}">{{fabricator.fabricator_name}}</option>
                                </select>
                            </div>
                            <div *ngIf="showFabricatorInfo" class="row m-1">
                                <h5 class="col-sm-12 col-lg-12 col-md-12">Fabricator Info</h5>
                                <div class="col-sm-4 col-lg-6 col-md-6">
                                    <label>Contact Name</label>
                                    <input type="text" formControlName="fabricator_contact_name" placeholder="Enter Contact Name Here.." class="form-control">
                                    <!-- <div class="alert alert-danger" *ngIf="!fabricatorInfoForm.controls['contact_name'].valid && fabricatorInfoForm.controls['contact_name'].touched">Contact Name is required</div> -->
                                </div>
                                <div class="col-sm-4 col-lg-6 col-md-6">
                                    <label>E-Mail</label>
                                    <input type="email" formControlName="fabricator_email" placeholder="Enter Email Here.." class="form-control">
                                    <!-- <div class="alert alert-danger" *ngIf="!fabricatorInfoForm.controls['email'].valid && fabricatorInfoForm.controls['email'].touched">Enter valid email id.</div> -->
                                </div>
                                <div class="col-sm-4 col-lg-6 col-md-6">
                                    <label>Phone</label>
                                    <input type="tel" formControlName="fabricator_phone" placeholder="Enter Phone Here.." class="form-control">
                                    <!-- <div class="alert alert-danger" *ngIf="!fabricatorInfoForm.controls['phone'].valid && fabricatorInfoForm.controls['phone'].touched">Phone is required</div> -->
                                </div>
                                <div class="col-sm-4 col-lg-6 col-md-6">
                                    <label>Website</label>
                                    <input type="url" formControlName="fabricator_website" placeholder="Enter Website Here.." class="form-control">
                                    <!-- <div class="alert alert-danger" *ngIf="!fabricatorInfoForm.controls['website'].valid && fabricatorInfoForm.controls['website'].touched">Website is required</div> -->
                                </div>
                                <div class="col-sm-12 col-lg-12 col-md-12">
                                    <label>Address</label>
                                    <textarea placeholder="Enter Address Here.." formControlName="fabricator_address" rows="3" class="form-control" name="address"></textarea>
                                    <!-- <div class="alert alert-danger" *ngIf="!fabricatorInfoForm.controls['address'].valid && fabricatorInfoForm.controls['address'].touched">Address is required</div> -->
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="showFabricatorInfo" formGroupName="bidInfoForm" style="border-left: none;">
                            <h5 class="col-sm-12 col-lg-12 col-md-12">Bid Info</h5>
                            <div class="row m-1">
                                <div class="col-sm-4 col-lg-6 col-md-6">
                                    <label>Project Name</label>
                                    <input type="text" formControlName="project_name" required placeholder="Enter Project Name Here.." class="form-control">
                                    <!-- <div class="alert alert-danger" *ngIf="!fabricatorInfoForm.controls['contact_name'].valid && fabricatorInfoForm.controls['contact_name'].touched">Contact Name is required</div> -->
                                </div>
                                <div class="col-sm-12 col-lg-12 col-md-12">
                                    <label>Project Address</label>
                                    <textarea placeholder="Enter Project Address Here.." required formControlName="project_address" rows="3" class="form-control"
                                        name="address"></textarea>
                                    <!-- <div class="alert alert-danger" *ngIf="!fabricatorInfoForm.controls['address'].valid && fabricatorInfoForm.controls['address'].touched">Address is required</div> -->
                                </div>
                                <div class="col-sm-4 col-lg-6 col-md-6">
                                    <label>Bid Received Date</label>
                                    <input type="date" formControlName="bid_received_date" required placeholder="Enter Bid Received Date Here.." class="form-control">
                                    <!-- <div class="alert alert-danger" *ngIf="!fabricatorInfoForm.controls['email'].valid && fabricatorInfoForm.controls['email'].touched">Enter valid email id.</div> -->
                                </div>
                                <div class="col-sm-4 col-lg-6 col-md-6">
                                    <label>Bid Due Date</label>
                                    <input type="date" formControlName="bid_due_date" required placeholder="Enter Bid Due Date Here.." class="form-control">
                                    <!-- <div class="alert alert-danger" *ngIf="!fabricatorInfoForm.controls['phone'].valid && fabricatorInfoForm.controls['phone'].touched">Phone is required</div> -->
                                </div>
                                <div class="col-sm-4 col-lg-6 col-md-6">
                                    <label>Bid Received From</label>
                                    <input type="text" formControlName="bid_received_from" required placeholder="Enter Document Received Here.." class="form-control">
                                    <!-- <div class="alert alert-danger" *ngIf="!fabricatorInfoForm.controls['website'].valid && fabricatorInfoForm.controls['website'].touched">Website is required</div> -->
                                </div>
                                <div class="col-sm-4 col-lg-6 col-md-6">
                                    <label>Document Received</label>
                                    <input type="text" formControlName="document_received" required placeholder="Enter Document Received Here.." class="form-control" maxlength="5">
                                    <!-- <div class="alert alert-danger" *ngIf="!fabricatorInfoForm.controls['website'].valid && fabricatorInfoForm.controls['website'].touched">Website is required</div> -->
                                </div>
                                <div class="col-sm-4 col-lg-6 col-md-6">
                                    <label>Document Path</label>
                                    <input type="text" formControlName="document_path" required placeholder="Enter Document Path Here.." class="form-control">
                                    <!-- <div class="alert alert-danger" *ngIf="!fabricatorInfoForm.controls['website'].valid && fabricatorInfoForm.controls['website'].touched">Website is required</div> -->
                                </div>
                                <div class="col-sm-12 col-lg-12 col-md-12">
                                    <label>Executive</label>
                                    <input type="text" formControlName="executive" required placeholder="Enter Executive Here.." class="form-control">
                                    <!-- <div class="alert alert-danger" *ngIf="!fabricatorInfoForm.controls['website'].valid && fabricatorInfoForm.controls['website'].touched">Website is required</div> -->
                                </div>

                                <label class="col-sm-12 col-lg-12 col-md-12 mt-4">Requirements</label>
                                <div class="col-sm-12 col-lg-12 col-md-12 text-center">
                                    <p *ngFor="let requirement of defaultRequirements" class="d-inline mr-4">
                                        <input type="checkbox" formControlName="requirements" #req (change)="addRequirement(req, $event)" value="{{requirement}}"> {{requirement}}
                                    </p>
                                    <!-- <div class="alert alert-danger" *ngIf="!fabricatorInfoForm.controls['website'].valid && fabricatorInfoForm.controls['website'].touched">Website is required</div> -->
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12 mt-4">
                                    <button type="button" [disabled]="!newLeadForm.valid" (click)="publish(newLeadForm.value, false)" class="btn btn-sm btn-info submit-btn mr-4 col-lg-3 col-md-3 col-sm-5">Save</button>
                                    <button type="button" [disabled]="!newLeadForm.valid" (click)="publish(newLeadForm.value, true)" class="btn btn-sm btn-info submit-btn mr-4 col-lg-3 col-md-3 col-sm-5">Publish</button>
                                    <button type="button" (click)="cancel()" class="btn btn-sm btn-info submit-btn mr-4 col-lg-3 col-md-3 col-sm-5">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        <div class="p-100 container well" *ngIf="submitSuccess">
            <div class="text-center">
                <i class="fa fa-5x fa-check-circle" style="color: green;"></i>
            </div>
            <div class="">
                <span class="text-center">
                    <h6>You have Successfully submitted the form. You can either add another or go to home.</h6>
                </span>
            </div>
            <div class="alert alert-success text-center">
                <strong>Success!</strong> Added Successfully.
            </div>
        </div>
        <div class="container well" *ngIf="submitted">
            <div class="text-center">
                <i class="fa fa-5x fa-frown" style="color: orangered;"></i>
            </div>
            <div class="">
                <span class="text-center">
                    <h6>Try again. You can either try again or go back.</h6>
                </span>
            </div>
            <div class="alert alert-danger text-center">
                <strong>Error!</strong> Unsuccessful.
            </div>
        </div>
        <div *ngIf="submitted && !submitSuccess" class="text-center">
            <button type="button" (click)="tryAgain()" class="btn btn-info btn-md mt-4 button-custom" style="background-color:#33679a; border-color:#33679a;">Try Again</button>
        </div>
    </div>
    <app-footer></app-footer>
</div>